# Fichier de configuration pour les variables d'environnement
# BOT_TOKEN est OBLIGATOIRE (le token de votre bot Discord)
BOT_TOKEN=
# GUILD_ID est OBLIGATOIRE (l'ID de votre serveur Discord)
GUILD_ID=
# Clé pour l'API Giphy (pour les commandes liés aux intéractions avec des gifs)
GIPHY_API_KEY=